* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0ff;
}

.menu {
    position: relative;
    width: 200px;
    height: 200px;
    background: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    position: absolute;
    list-style: none;
    transform-origin: 100px;
    /* clac(帶參數運算(可放入百分比跟屬性)) 下方為360度分給8個var*/
    transform: rotate(calc(360deg / 8* var( --i)));
}

.usbox {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0px 4px rgb(0, 0, 0, 0.5);
    font-size: 2em;
    transition: 1.25s;
}


/* =====轉動方向===== */


/* 選取器順序很重要 */

.menu.active .usbox {
    transform: rotate(325deg);
}